<div class="containter main justify-content-center">
    <div class="jumbotron m-4 p-10">
        <h1 class="display-4 ">Cursos</h1>
        <hr class="my-4">
        <p>Listado</p>
        <hr>
        <p>Administración de cursos</p>
        <hr>
        <div *ngIf="!cursos">
            <app-spinner-master></app-spinner-master>
        </div>
        <table class="table" *ngIf="cursos">
            <thead>
              <tr>
                <th scope="col">Curso</th>
                <th scope="col">Division</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Modalidad</th>
                <th scope="col">Semipresencial</th>
                <th colspan="2">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarCurso">
                        Agregar Curso                  
                    </button>
                </th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let curso of cursos" class="renglon-curso">
                <th [routerLink]="['/cursos/detalle/',curso.id]">{{curso.curso}}</th>
                <td [routerLink]="['/cursos/detalle/',curso.id]">{{curso.division}}</td>
                <td [routerLink]="['/cursos/detalle/',curso.id]">{{curso.especialidad}}</td>
                <td [routerLink]="['/cursos/detalle/',curso.id]">{{curso.modalidad}}</td>
                <td [routerLink]="['/cursos/detalle/',curso.id]" *ngIf="curso.semipresencial==1">Si</td>
                <td [routerLink]="['/cursos/detalle/',curso.id]" *ngIf="curso.semipresencial==0">No</td>
                <td>
                    <button class="btn btn-warning" (click)="editarCurso(curso)">
                    <fa-icon [icon]="edit"></fa-icon>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="eliminarCurso(curso)">
                    <fa-icon [icon]="trash"></fa-icon>
                    </button>
                </td>
              </tr>

            </tbody>
          </table>




<div class="modal fade" id="agregarCurso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Curso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="cursoForm" (ngSubmit)="onSubmit()">
                <div class="row justify-content-start align-items-center w-100 p-0">
                    <div class="col">
                        <label for="curso">Curso</label>
                        <select name="nro_curso" id="curso" class="form-control"  
                        formControlName="curso" 
                        [ngClass]="{'is-invalid': isValidField('curso')}" style="font-size: 12px;">
                            <option> </option>
                            <option *ngFor="let option of nro_cursos">{{option.numero}}°</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="div">Division</label>
                        <select name="div" id="division" class="form-control" 
                        formControlName="division" 
                        [ngClass]="{'is-invalid': isValidField('division')}" style="font-size: 12px;">
                            <option> </option>
                            <option *ngFor="let option of divisiones">{{option.division}} </option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="especialidad">Especialidad</label>
            
                        <select name="esp" id="especialidad" class="form-control" 
                        formControlName="especialidad" 
                        [ngClass]="{'is-invalid': isValidField('especialidad')}"
                        style="font-size: 12px;">
                            <option></option>
                            <option *ngFor="let option of especialidades">{{option.especialidad}}</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="modalidad">Modalidad</label>
            
                        <select name="mod" id="modalidad" class="form-control"
                        formControlName="modalidad" 
                        [ngClass]="{'is-invalid': isValidField('modalidad')}"
                        style="font-size: 12px;">
                            <option></option>
                            <option *ngFor="let option of modalidades">{{option.modalidad}}</option>
                        </select>
                    </div>
                    <div class="col custom-control custom-checkbox semi">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="semipresencial">
                        <label class="custom-control-label" for="customCheck1">SemiPres</label>
                    </div>
                    <div class="col align-self-end">
                        <button type="submit" class="btn btn-primary btn-sm" [disabled]="cursoForm.invalid">Crear</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="cursoEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Curso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="cursoToEditForm" (ngSubmit)="onSubmitUpdate()">
                <div class="row justify-content-start align-items-center w-100 p-0">
                    <div class="col">
                        <label for="curso">Curso</label>
                        <select name="nro_curso" id="curso" class="form-control"  
                        formControlName="curso" 
                        [ngClass]="{'is-invalid': isValidField('curso')}" style="font-size: 12px;">
                            <option> </option>
                            <option *ngFor="let option of nro_cursos">{{option.numero}}°</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="div">Division</label>
                        <select name="div" id="division" class="form-control" 
                        formControlName="division" 
                        [ngClass]="{'is-invalid': isValidField('division')}" style="font-size: 12px;">
                            <option> </option>
                            <option *ngFor="let option of divisiones">{{option.division}} </option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="especialidad">Especialidad</label>
            
                        <select name="esp" id="especialidad" class="form-control" 
                        formControlName="especialidad" 
                        [ngClass]="{'is-invalid': isValidField('especialidad')}"
                        style="font-size: 12px;">
                            <option></option>
                            <option *ngFor="let option of especialidades">{{option.especialidad}}</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="modalidad">Modalidad</label>
            
                        <select name="mod" id="modalidad" class="form-control"
                        formControlName="modalidad" 
                        [ngClass]="{'is-invalid': isValidField('modalidad')}"
                        style="font-size: 12px;">
                            <option></option>
                            <option *ngFor="let option of modalidades">{{option.modalidad}}</option>
                        </select>
                    </div>
                    <div class="col custom-control custom-checkbox semi">
                        <input type="checkbox" class="custom-control-input" id="customCheckEditSemi" formControlName="semipresencial">
                        <label class="custom-control-label" for="customCheckEditSemi">SemiPres</label>
                    </div>
                    <div class="col align-self-end">
                        <button type="submit" class="btn btn-warning btn-sm" [disabled]="cursoToEditForm.invalid">Editar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>







