.main{
    margin-top: 50px;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.main2{
    margin-top: 50px;
    width: 70%;
    margin-left: 15%;
}

.semi{
    margin-top: 32px;
}

.agregar-curso{
    margin: 50px;
    height: 200px;
}

.renglon-curso{
    cursor: pointer;
}

.renglon-curso:hover{
    background: gray;
}

.titulo-ruta{
    background: white; padding: 10px; border: solid 1px black; border-radius: 10px;
}



