<app-botonera-alumnos></app-botonera-alumnos>

<div class="contenedor">
    <div class="row justify-content-center mt-4" *ngIf="alumnos">
        <h3>{{alumnos[0]?.curso.curso}} - {{alumnos[0]?.curso.division}} - {{alumnos[0]?.curso.especialidad}} - {{alumnos[0]?.curso.modalidad}}</h3>
    </div>
    <div class="row">
        
        <div class="col-10">
            <table class="table my-list mt-5" id="cars-list">
                <thead class="thead" id="thead">
                    <tr>
                        <th> Apellido</th>
                        <th> Nombre </th>
                        <th> DNI </th>
                        <th> CURSO </th>
                        <th> ORIENTACION </th>
                        <th> Última Inscripción </th>
                        <th>  </th> 
                        <th>  </th> 
                </tr>
                </thead>
                <tr class="fila" *ngFor="let alumno of alumnos" [routerLink]="['/alumnos/detail/',alumno.id]">
                    <td>
                        {{alumno?.apellido}}
                    </td>
                    <td>
                        {{alumno?.nombre}}
                    </td>
                    <td>
                        {{alumno?.dni}}
                    </td>
                    <td>
                        {{alumno?.curso?.curso}}-{{alumno?.curso?.division}}
                    </td>
                    <td>
                        {{alumno?.curso?.especialidad}}
                    </td>
                    <td>
                        {{alumno?.inscripcion}}
                    </td>
                    <td>
                        <button class="btn btn-warning" *ngIf="identity.role==1 || identity.role==2" [routerLink]="['/alumnos/detail/',alumno.id]"> <fa-icon [icon]="edit"></fa-icon></button>
                    </td>
                    <td>
                        <button class="btn btn-danger" *ngIf="identity.role==1 || identity.role==2" (click)="eliminarAlumno(alumno)"> <fa-icon [icon]="delete"></fa-icon></button>
                    </td>

                </tr>
            </table>

        </div>
    </div>
</div>