.main{
    margin-top: 50px;
    width: 70%;
    margin-left: 15%;
    text-align: right;
}

.btn-alumnos{
    background: rgba(204, 32, 9, 0.911);
    color: #fff;
   /* border-radius: 0%;*/
}
.btn-alumnos:hover{
    background: rgba(110, 0, 0, 0.911);
    color: #fff;
   /* border-radius: 0%;*/
}

