<div class="container main">
    <div class="row justify-content-center">
        <div class="col">
            <h3 class="text-center">
                Materias Disponibles
            </h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="row" *ngFor="let materia of materias">
                <div class="col-md-auto mt-2">
                    <button class="btn btn-primary" (click)="listadoAlumnos(materia.id_materia,materia.id_curso)"> <b>{{materia.materia}}</b> / {{materia.curso}} </button>
                </div>
            </div>
        </div>
    </div>
</div>
