
.A4{
    border: 1px solid black;
    width: 210mm;
    /* height: 297mm; */
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0px;
    margin-bottom: 0px;
<<<<<<< HEAD
    padding: 2px;
    font-weight: bold;

=======
    padding: 5px;
>>>>>>> 3448f51ab4e12b8cf4d9a5f3973175d48ac96f6e
}

.titulo-principal{
    font-weight: bold;
    font-size: 22px;
    margin-top: 40px;
}

.titulo-secundario{
    font-size: 16px;
}

.divider{
    border: 0.75px solid black;
    width: 75%;
}

.datos-alumno{
    margin-top: 30px;
    margin-left: 30px;
}

.tabla-notas{
    margin-left: 5px;
    margin-right: 5px;
}

.table{
    font-size: 11px;

}
td{
    width: 0px;
}

.notas-renglon{
    line-height: 0%;
    border-top:1px solid black ;
<<<<<<< HEAD
    font-size: 12px;
    
=======
    font-size: 10px;
>>>>>>> 3448f51ab4e12b8cf4d9a5f3973175d48ac96f6e
}

footer{
    position: relative;
    margin-left: 60px;
    margin-top: 100px;
}
.footer{
    margin-top: 0px;
    font-size: 12px;
    font-style: italic;
}

.text-materia{
    white-space: nowrap;
    overflow: hidden; 
   /* text-overflow: ellipsis !important;; */
    /* width: 100px;  */
}






