<div class="contenedor main">
    <h1 class="display-4 ">Materias</h1>
        <hr class="my-4">
        <p>Listado</p>
        <hr>
    <div class="row text-left justify-content-start" >
        <div class="col">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">Todas</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">Por Curso</label>
              </div>
        </div>
        <div class="col-2 align-self-end">
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#agregarMateria">
                Agregar
            </button>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Materia</th>
            <th scope="col">Curso</th>
            <th scope="col">Division</th>
            <th colspan="2">Prof. a Cargo</th>
            <th></th>
            <th></th>
          
          </tr>
        </thead>
        <div *ngIf="!materias && !mensaje"> 
            <app-spinner-master></app-spinner-master> 
        </div>
 
        <tbody *ngIf="materias">
        <tr *ngFor="let materia of materias" class="materia-table">
            <td style="text-align: start;">{{materia.materia}}</td>
            <td>{{materia.curso.curso}}</td>
            <td>{{materia.curso.division}}</td>
            <td>{{materia.profesor1}}</td>
            <td>{{materia.profesor2}}</td> 
            <td>
                <button type="button" class="btn btn-warning"  (click)="editarMateria(materia)" data-toggle="modal" data-target="#editarMateria" >
                    <fa-icon [icon]="edit"></fa-icon>
                </button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="eliminarMateria(materia)">
                <fa-icon [icon]="trash"></fa-icon>
                </button>
            </td>
        </tr>

        </tbody>
      </table>
      <div *ngIf="mensaje">
        <div class="row justify-content-center">
          <div class="col">
            <div class="alert alert-dark"><p>{{mensaje}}</p></div>
          </div>
        </div>
      </div>
 
  <!-- Modal -->
  <div class="modal fade" id="editarMateria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Materia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-editar></app-editar>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


</div>


<div class="modal fade" id="agregarMateria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Materia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-agregar></app-agregar>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
      </div>
    </div>
  </div>
</div>




