<div *ngIf="!usuario">
    <app-spinner-master></app-spinner-master>
</div>

<div class="container mt-4 main">

    <div class="row renglon" style="margin-bottom: 80px">
        <div class="col">
            <h1>
                Editar Usuario
            </h1>
        </div>
    </div>
    <hr>
    <form #editarUsuario="ngForm" (ngSubmit)="onSubmit(editarUsuario)" *ngIf="usuario">
        <div class="row renglon">
                    <div class="col">
                        <h4>
                            Nombres 
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col renglon2">
                        <input type="text" class="input" [ngClass]="{'editable':editarNombre}" id="name" name="name" #name="ngModel" [(ngModel)]="usuario.name" [disabled]="!editarNombre" autocomplete="off" (keyup)="esNameValido(usuario.name)" required>
                        <p *ngIf="editarNombre && !nameValido" class="noValido" style="font-size: 10px;">{{errorName}}</p>

                    </div>
                    <div class="col-2 text-right">
                        <fa-icon [icon]="edit" style="cursor:pointer" [ngClass]="{'btn-editando':editarNombre}" (click)="editarName()"></fa-icon>
                    </div>
                </div>
                <div class="row renglon">
                    <div class="col">
                        <h4>
                            Apellido 
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col renglon2">
                        <input type="text" class="input" [ngClass]="{'editable':editarApellido}" id="apellido" name="surname" #surname="ngModel" [(ngModel)]="usuario.surname" [disabled]="!editarApellido" autocomplete="off" (keyup)="esSurnameValido(usuario.surname)" required>
                        <p *ngIf="editarApellido && !surnameValido" class="noValido" style="font-size: 10px;">{{errorSurname}}</p>
                    </div>
                    <div class="col-2 text-right">
                        <fa-icon [icon]="edit" style="cursor:pointer" [ngClass]="{'btn-editando':editarApellido}"  (click)="editarSurname()"></fa-icon>
                    </div>
                </div>
                
                <div class="row renglon">
                    <div class="col">
                        <h4>
                            Correo Electrónico 
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col renglon2">
                    <input type="text" class="input" autocomplete="off" [ngClass]="{'editable':editarCorreo}"  [disabled]="!editarCorreo" id="correo" name="mail" #mail="ngModel" [(ngModel)]="usuario.email" (keyup)="esEmailValido(usuario.email)">
                    <p *ngIf="editarCorreo && !mailValido" class="noValido" style="font-size: 10px;">{{errorEmail}}</p>
   
                </div>
                <div class="col-2 text-right">
                        <fa-icon [icon]="edit" style="cursor:pointer" [ngClass]="{'btn-editando':editarCorreo}" (click)="editarEmail()" ></fa-icon>
                    </div>
                </div>
                
                
                <div class="row renglon">
                    <div class="col">
                        <h4>
                            DNI
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col renglon2">
                        <input type="text" class="input" autocomplete="off" [ngClass]="{'editable':editarDoc}"  id="doc" name="doc" #doc="ngModel" [(ngModel)]="usuario.dni" [disabled]="!editarDoc">
                    </div>
                    <div class="col-2 text-right">
                        <fa-icon [icon]="edit" style="cursor:pointer" [ngClass]="{'btn-editando':editarDoc}"  (click)="editarDni()"></fa-icon>
                    </div>
                </div>
                
                
                <div class="row renglon">
                    <div class="col">
                        <h4>
                            Contraseña 
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 renglon2">
                        <a class="link" role="button" (click)="cambiarClave()">Restablecer Contraseña</a>
                        <input type="password" class="form-control" *ngIf="cambiarPass" name="pass" #pass="ngModel" [(ngModel)]="password"  (keyup)="esPassValida(password)">
                        <p *ngIf="cambiarPass && !passValido" class="noValido" style="font-size: 10px;">Mínimo ocho caracteres, al menos una letra y un número</p>
                    </div>
                </div>
                <div class="row renglon">
                    <div class="col">
                        <h4>
                            Rol 
                        </h4>
                    </div>
                </div> 
                <div class="row">
                    <div class="col renglon2" *ngIf="!editarRol">
                       {{usuario.role.role}}
                    </div>
                    <div class="col renglon2" *ngIf="editarRol">
                        <label for="roles">Rol</label>
                        <select name="permiso" #permiso="ngModel" id="roles"  class="form-control select-roles" [(ngModel)]="rol">
                            <option></option>
                            <option *ngFor="let role of roles" value="{{role.id}}">
                                {{role.role}}
                            </option>
                        </select>
                    </div>
                    <div class="col-2 text-right">
                        <fa-icon [icon]="edit" style="cursor:pointer" [ngClass]="{'btn-editando':editarRol}"  (click)="editarRole()"></fa-icon>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="col-4">
                        <button class="btn btn-dark" type="button" [routerLink]="['/users/admin']" >
                            Cancelar 
                        </button>
                    </div>
                    <div class="col-4">
                        <!-- <button 
                        class="btn btn-guardar" 
                        (click)="actualizarUsuario()" 
                        [disabled]="!mailValido">
                            Guardar
                        </button> -->
                        <button 
                        type="submit" 
                        class="btn btn-guardar" 
                 
                        >
                 
                        Guardar
                        </button>
                    </div>
                </div>
    </form>
</div>