<div class="row" *ngIf="identity">
    <div class="barra-lateral" [ngClass]="activar">
        <nav class="menu d-flex d-sm-block justify-content-between flex-wrap align-items-center">
            <div class="row w-100 item">
                <div class="col ml-1">
                    <a href="users/perfil">
                        <span>Mi Perfil</span>
                    </a>
                </div>
                <div class="col text-right" (click)="rutear('users/perfil')">
                      <fa-icon [icon]="profile"></fa-icon>
                </div>
            </div>
            <div class="row w-100 item">
                <div class="col ml-1">
                    <a href="alumnos/home">
                        <span>Alumnos</span>
                    </a>
                </div>
                <div class="col text-right" (click)="rutear('alumnos/home')">
                      <fa-icon [icon]="student"></fa-icon>
                </div>
            </div>
            <div class="row w-100 item">
                <div class="col ml-1">
                    <a href="cursos/admin">
                        <span>Cursos</span>
                    </a>
                </div>
                <div class="col text-right" (click)="rutear('cursos/admin')">
                    <fa-icon [icon]="lista"></fa-icon>
                </div>
            </div>
            <div class="row w-100 item">
                <div class="col ml-1">
                    <a href="materias/listado">
                        <span>Materias</span>
                    </a>
                </div>
                <div class="col text-right" (click)="rutear('materias/listado')">
                    <fa-icon [icon]="nota"></fa-icon> 
                </div>
            </div>
   
            <div class="row w-100 item">
                <div class="col ml-1">
                    <a>
                        <span>Opciones</span>
                    </a>
                </div>
                <div class="col text-right">
                    <fa-icon [icon]="opciones"></fa-icon>
                </div>
            </div>
            <div class="row w-100 item">
                <div class="col ml-1">
                    <a href="novedades/home">
                        <span>Novedades</span>
                    </a>
                </div>
                <div class="col text-right" (click)="rutear('novedades/home')">
                    <fa-icon [icon]="new"></fa-icon>
                </div>
            </div>
            <div class="row w-100 item">
                <div class="col ml-1">
                        <a href="#">
                            <span>Docentes</span>
                        </a>
                </div>
                <div class="col text-right">
                    <fa-icon [icon]="docente"></fa-icon>
                </div>
            </div>
            <div class="row w-100 item" *ngIf="identity.role==1">
                <div class="col ml-1">
                    <a href="users/admin">
                      <span>Usuarios</span>
                    </a>
                </div>
                <div class="col text-right" (click)="rutear('users/admin')" >
                    <fa-icon [icon]="userIcon"></fa-icon>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- <div *ngIf="activar">
    <a class="fondo-enlace d-md-none" (click)="ocultarMenu()"></a>
</div> -->