<footer>
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            
            <div class="col col-md-4 info">
                    <h5 class="title">
                        <a href="#">
                            CENS N°15 Ushuaia
                        </a>
                    </h5>
            </div>
               <!-- <div class="col-6 col-md-4 text-center justify-content-center contacto">
                <a href="mailto:fmvega@facet.unt.edu.ar" id="email">
                  Contacto: fmvega@facet.unt.edu.ar
                </a>
            </div> -->

        </div>
    </div>
</footer>