<div class="contanier">
    <div class="row justify-content-center p-4">
        <div class="col">
            <h1 class="text-center">Inscripción Finalizada</h1>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col">
            <h4 class="text-center">Tus datos se guardaron</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <p class="text-center">Ya puedes cerrar el navegador</p>
        </div>
    </div>
</div>
