<div class="containter main justify-content-center">
    <div class="jumbotron w-100">
        <h1 class="titulo">Alumnos</h1>
        <hr class="my-4">
        <p>En esta sección podrá realizar gestiones asociadas a los alumnos</p>
        <div  class="row justify-content-center">
           <div class="col">
                <button class="btn btn-iniciarSesion" [routerLink]="['/alumnos/lista']">Listado</button>
                <button class="btn btn-inscripcion"   [disabled]="!identity && identity?.role!=1 && identity?.role!=2" [routerLink]="['/alumnos/nuevo']">Inscripción</button>
           </div>
        </div>
        <hr>
    </div>
    <!-- <div class="row justify-content-center">
            <div class="col text-center">
                <h1 class="display-1 text-center welcome">CENS N°15</h1>
            </div> 
       </div>
       <div class="row mt-4">
            <div class="col text-center texto-bienvenida">
                <p>Bienvenido al sistema de gestión de Alumnos del CENS N°15 - Ushuaia - Tierra del Fuego</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <p> <b>V 1.0.0</b> </p>
            </div>
        </div> -->
</div>