<div class="containter main justify-content-center">
    
    <div class="jumbotron m-4 p-10">
        <h1 class="display-4 ">Alumnos</h1>
        <hr class="my-4">
        <p>En esta sección podrá realizar gestiones asociadas a los alumnos</p>
        <div  class="row justify-content-center">
           <div class="col">
                <a href="alumnos/listado" role="button" class="btn btn-iniciarSesion">Listado</a>
                <a href="alumnos/nuevo" class="btn btn-inscripcion" role="button">Inscripción</a>
           </div>
        </div>
        <hr>
         <div class="row justify-content-center mt-4">
            <p>Versión 1.0.0</p>
        </div>
     </div>
    <!-- <div class="row justify-content-center">
            <div class="col text-center">
                <h1 class="display-1 text-center welcome">CENS N°15</h1>
            </div> 
       </div>
       <div class="row mt-4">
            <div class="col text-center texto-bienvenida">
                <p>Bienvenido al sistema de gestión de Alumnos del CENS N°15 - Ushuaia - Tierra del Fuego</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <p> <b>V 1.0.0</b> </p>
            </div>
        </div> -->
</div>