.spinner-border {
    width: 15rem;
    height: 15rem;
    margin-top: 20vh;
    margin-left: 42%;
}

.contenedor {
    margin: auto;
    display: table;
    margin-top: 30px;
}

h1 {
    position: relative;
    float: left;
    /* background: white; */
    color: black;
    font-size: 1.5em;
}

h1 span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    animation: escribir 0.5s steps(30) infinite;
}

@keyframes escribir {
    from {
        width: 100%
    }
    to {
        width: 0
    }
}