<div class="containter main justify-content-center">
    
    <div class="jumbotron m-4 p-10">
        <h1 class="display-4 ">Cursos</h1>
        <hr class="my-4">
        <p>Listado</p>
        <hr>
        <p>Administración de cursos</p>
        <hr>
        <div *ngIf="!cursos">
            <app-spinner-master></app-spinner-master>
        </div>
        <table class="table" *ngIf="cursos">
            <thead>
              <tr>
                <th scope="col">Curso</th>
                <th scope="col">Division</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Modalidad</th>
                <th scope="col">Semipresencial</th>
                <th colspan="2">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarCurso">
                        Agregar Curso                  
                    </button>
                </th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let curso of cursos">
                <th>{{curso.curso}}</th>
                <td>{{curso.division}}</td>
                <td>{{curso.especialidad}}</td>
                <td>{{curso.modalidad}}</td>
                <td *ngIf="curso.semipresencial==1">Si</td>
                <td *ngIf="curso.semipresencial==0">No</td>
                <td>
                    <button class="btn btn-warning" >
                    <fa-icon [icon]="edit"></fa-icon>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger">
                    <fa-icon [icon]="trash"></fa-icon>
                    </button>
                </td>
              </tr>

            </tbody>
          </table>

          <br><br><br>
          <hr>
          <p>Agregar Curso</p>



<div class="container-fluid agregar-curso">

<form [formGroup]="cursoForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-start align-items-center w-100 p-0">
        <div class="col">
            <label for="curso">Curso</label>
            <select name="nro_curso" id="curso" class="form-control"  
            formControlName="curso" 
            [ngClass]="{'is-invalid': isValidField('curso')}" style="font-size: 12px;">
                <option> </option>
                <option *ngFor="let option of nro_cursos">{{option.numero}}°</option>
            </select>
        </div>
        <div class="col">
            <label for="div">Division</label>
            <select name="div" id="division" class="form-control" 
            formControlName="division" 
            [ngClass]="{'is-invalid': isValidField('division')}" style="font-size: 12px;">
                <option> </option>
                <option *ngFor="let option of divisiones">{{option.division}} </option>
            </select>
        </div>
        <div class="col-3">
            <label for="especialidad">Especialidad</label>

            <select name="esp" id="especialidad" class="form-control" 
            formControlName="especialidad" 
            [ngClass]="{'is-invalid': isValidField('especialidad')}"
            style="font-size: 12px;">
                <option></option>
                <option *ngFor="let option of especialidades">{{option.especialidad}}</option>
            </select>
        </div>
        <div class="col-3">
            <label for="modalidad">Modalidad</label>

            <select name="mod" id="modalidad" class="form-control"
            formControlName="modalidad" 
            [ngClass]="{'is-invalid': isValidField('modalidad')}"
            style="font-size: 12px;">
                <option></option>
                <option *ngFor="let option of modalidades">{{option.modalidad}}</option>
            </select>
        </div>
        <div class="col custom-control custom-checkbox semi">
            <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="semipresencial">
            <label class="custom-control-label" for="customCheck1">SemiPres</label>
        </div>
        <div class="col align-self-end">
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="cursoForm.invalid">Crear</button>
        </div>
    </div>
</form>

</div>


