.main{
    margin-top: 50px;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.semi{
    margin-top: 32px;
}

.agregar-curso{
    margin: 50px;
    height: 200px;
}

.renglon-curso{
    cursor: pointer;
}

.renglon-curso:hover{
    background: gray;
}

