<div class="container mt-4" style="background: white;">
    <div class="row justify-content-center">
        <div class="col-6">
            <h4 class="text-center">Precargar Usuarios</h4>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center mt-2 mb-2">
        <div class="col-md-6">
            <p>Ingrese el DNI del usuario a agregar</p>
        </div>
    </div>
    <div class="row justify-content-center">
            <form [formGroup]="preCargaForm" (ngSubmit)="onSubmit()" class="col-md-6">
                <div class="form-group col-md-8">
                    <label for="inputDni">DNI</label>
                    <input 
                    id="doc"
                    type="text" 
                    class="form-control" 
                    formControlName="dni" 
                    [ngClass]="{
                      'is-invalid': isValidField('dni')
                    }"
                    >
                </div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="preCargaForm.invalid">Ingresar</button>
                </div>
            </form>
    </div>
    <div class="row justify-content-center mt-4 mb-2">
        <div class="col-md-10">
            <p>Luego el usuario deberá registrase ingresando primero su DNI</p>
        </div>
    </div>

</div>